{% load i18n %}
<li id="assets">
    <a href="{% url 'assets:user-asset-list' %}">
        <i class="fa fa-files-o"></i><span class="nav-label">{% trans 'My assets' %}</span><span class="label label-info pull-right"></span>
    </a>
</li>
<li id="users">
    <a href="{% url 'users:user-profile' %}">
        <i class="fa fa-user" ></i> <span class="nav-label">{% trans 'Profile' %}</span><span class="label label-info pull-right"></span>
    </a>
</li>
<li id="applications">
    <a href="{% url 'applications:terminal-list' %}">
        <i class="fa fa-terminal" ></i> <span class="nav-label">{% trans 'Terminal' %}</span><span class="label label-info pull-right"></span>
    </a>
</li>
<li id="audits">
    <a href="#"><i class="fa fa-files-o"></i> <span class="nav-label">{% trans 'Audits' %}</span><span class="fa arrow"></span></a>
    <ul class="nav nav-second-level">
        <li id="proxy-log-online">
            <a href="{% url 'audits:proxy-log-online-list' %}">{% trans 'Session online' %}</a>
        </li>
        <li id="proxy-log-offline">
            <a href="{% url 'audits:proxy-log-offline-list' %}">{% trans 'Session history' %}</a>
        </li>
        <li id="command-log">
            <a href="{% url 'audits:command-log-list' %}">{% trans 'Command log' %}</a>
        </li>
        <li id="login-log">
            <a href="{% url 'audits:login-log-list' %}">{% trans 'Login log' %}</a>
        </li>
{#        <li id="admin-log">#}
{#            <a href="{% url 'perms:asset-permission-list' %}">{% trans 'Admin log' %}</a>#}
{#        </li>#}

    </ul>
</li>